main {
    height: calc(100vh - 80px);
}

nav {
    background-color: #FEFEFE;
    border-bottom: 1px solid #aaa9a9;
    height: calc(80px - 1px)
}

.nav-brand {
    margin-left: 1em;
}

.container {
    display: flex;  
}

.container-column {
    flex-direction: column;
}

.container-center-horizontal {
    justify-content: center;
}

.container-center-vertical {
    align-items: center;
}

#nav-container {
    padding-left: 1em;
}