.tasks-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    width: calc(100% - 100px);
}

.task-container {
    display: flex;
    column-gap: 10px;
    align-items: center;
    justify-content: left;
    background-color: white;
    cursor: pointer;
    margin: 10px 0px;
    padding: 10px 20px;
    border-radius: 10px;
}

.task-form {
    flex-grow: 1;
}

.task-form input, .task-container {
    height: 5vh;
    width: 80vw;
}

.task-form input {
    padding: 10px 20px;
    border-radius: 10px;
}


.task-due {
    width: 100px;
    margin-left: 10px;
}